<form action="/create" method="POST">
    <h2>New task</h2>
    <div class="form-group">
        <label>What should be done?</label>
        <input type="text" name="title" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form>